ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #101010; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

input, textarea, button, button:active, button:focus {
  outline-color: #a5cdf2; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-BoldItalic.eot");
  src: url("../fonts/HelveticaNeue-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-BoldItalic.woff") format("woff"), url("../fonts/HelveticaNeue-BoldItalic.ttf") format("truetype"), url("../fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Italic.eot");
  src: url("../fonts/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #101010;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Helvetica Neue'; }

.clearfix-9 {
  height: 9px;
  clear: both; }

.clearfix-20 {
  height: 20px;
  clear: both; }

.clr-red {
  color: #ED1111; }

.dp-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-items: center; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

#d_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px; }
  #d_page #d_total_rec {
    color: #303030; }
  #d_page #d_number_of_page button {
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
    border: none;
    background: none;
    padding: 0;
    outline: none; }
    #d_page #d_number_of_page button:after {
      outline: none; }
    #d_page #d_number_of_page button span {
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 23px;
      border-radius: 3px;
      display: inline-block;
      color: #A3A3A3; }
      #d_page #d_number_of_page button span.a-active {
        background: #255888;
        color: #fff; }
    #d_page #d_number_of_page button:hover span {
      background: #255888;
      color: #fff; }

.mw-40 {
  min-width: 40px; }

.mw-50 {
  min-width: 50px; }

.mw-60 {
  min-width: 60px; }

.mw-70 {
  min-width: 70px; }

.mw-80 {
  min-width: 80px; }

.mw-90 {
  min-width: 90px; }

.mw-100 {
  min-width: 100px; }

.mw-110 {
  min-width: 110px; }

.mw-120 {
  min-width: 120px; }

.mw-130 {
  min-width: 130px; }

.mw-140 {
  min-width: 140px; }

.mw-150 {
  min-width: 150px; }

.mw-160 {
  min-width: 160px; }

.mw-170 {
  min-width: 170px; }

.mw-180 {
  min-width: 180px; }

.mw-190 {
  min-width: 190px; }

.mw-200 {
  min-width: 200px; }

.bold-tilte {
  font-size: 18px;
  color: #255887;
  font-weight: 500;
  margin-bottom: 15px;
  text-decoration: underline; }

legend {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #255887;
  font-weight: 700;
  font-size: 14px; }

.txt-data {
  color: #303030;
  margin-top: 11px;
  word-break: break-word;
  padding: 0 5px 5px;
  border-bottom: 1px solid #ddd; }

.mt-0-label .lbl-field {
  margin-top: 11px;
  font-weight: 500; }
.mt-0-label .ip-edit {
  margin-bottom: 0; }
.mt-0-label .areaedit {
  margin-bottom: 0;
  height: 110px; }
.mt-0-label .field-popup {
  height: 100%; }

.element-field {
  margin-bottom: 15px; }

input[disabled],
input[disabled="disabled"],
input[readonly],
input[readonly="readonly"],
textarea[disabled],
textarea[disabled="disabled"],
textarea[readonly],
textarea[readonly="readonly"],
select[disabled],
select[disabled="disabled"],
select[readonly],
select[readonly="readonly"] {
  background-color: #eee !important;
  outline: none; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd:after {
  content: '';
  display: table;
  clear: both; }

.row-10 {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-10:after {
  content: '';
  display: table;
  clear: both; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 7px; }

.row-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.container-headtop {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.container-big {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.container-small {
  max-width: 998px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  height: 100vh;
  position: relative; }
  .header .slidebanner {
    height: 100%; }
    .header .slidebanner .swiper-container {
      height: 100%; }
      .header .slidebanner .swiper-container img {
        height: 100%;
        object-fit: cover; }
    .header .slidebanner .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 214px; }
    .header .slidebanner .swiper-pagination-bullet {
      width: 12px;
      height: 4px;
      background: #A6A6A6;
      opacity: 1;
      border-radius: 21px; }
    .header .slidebanner .swiper-pagination-bullet-active {
      background: #fff;
      width: 32px; }
  .header .head-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(68, 68, 68, 0.3);
    z-index: 99; }
    .header .head-top .logo {
      float: left;
      margin-bottom: 0; }
      .header .head-top .logo a {
        display: block;
        padding: 9px 0; }
        .header .head-top .logo a img {
          display: block; }
          .header .head-top .logo a img.logo-main {
            display: block; }
          .header .head-top .logo a img.logo-light {
            display: none; }
    .header .head-top .navigation nav > ul > li {
      float: left; }
      .header .head-top .navigation nav > ul > li > a {
        display: block;
        padding: 19px 20px;
        font-weight: 500;
        color: #fff; }
      .header .head-top .navigation nav > ul > li:hover .block-menuchild {
        display: block; }
    .header .head-top .block-search {
      float: right;
      display: flex;
      align-items: center;
      padding: 11px 0; }
      .header .head-top .block-search .box-search {
        display: inline-block;
        position: relative; }
        .header .head-top .block-search .box-search input {
          background: rgba(242, 242, 242, 0.15);
          border-radius: 54px;
          border: none;
          outline: none;
          width: 60px;
          height: 28px;
          color: #fff;
          padding: 5px; }
        .header .head-top .block-search .box-search .btn-search {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 7px;
          background: none;
          border: none;
          outline: none;
          line-height: 13px; }
      .header .head-top .block-search .line-space {
        height: 36px;
        width: 1px;
        margin-left: 9px;
        margin-right: 9px;
        display: inline-block;
        background: #fff; }
      .header .head-top .block-search .select-language {
        display: inline-block;
        border: none;
        color: #fff;
        font-weight: 500;
        width: auto;
        background: transparent;
        outline: none; }
        .header .head-top .block-search .select-language option {
          background: transparent; }
  .header .head-top:hover {
    background: #fff; }
    .header .head-top:hover .logo a img.logo-main {
      display: none; }
    .header .head-top:hover .logo a img.logo-light {
      display: block; }
    .header .head-top:hover .navigation nav > ul > li > a {
      color: #999999; }
    .header .head-top:hover .navigation nav > ul > li:hover > a {
      color: #202020; }
    .header .head-top:hover .btn-search .img-dark {
      display: none; }
    .header .head-top:hover .btn-search .img-light {
      display: block; }
    .header .head-top:hover .line-space {
      background: #202020; }
    .header .head-top:hover .select-language {
      color: #303030; }
    .header .head-top:hover .box-search input {
      background: #f6f6f6;
      color: #202020; }
  .header .head-top.active {
    position: fixed;
    background: #fff; }
    .header .head-top.active .logo a img.logo-main {
      display: none; }
    .header .head-top.active .logo a img.logo-light {
      display: block; }
    .header .head-top.active .navigation nav > ul > li > a {
      color: #999999; }
    .header .head-top.active .navigation nav > ul > li:hover > a {
      color: #202020; }
    .header .head-top.active .btn-search .img-dark {
      display: none; }
    .header .head-top.active .btn-search .img-light {
      display: block; }
    .header .head-top.active .line-space {
      background: #202020; }
    .header .head-top.active .select-language {
      color: #303030; }
    .header .head-top.active .box-search input {
      background: #f6f6f6;
      color: #202020; }

.head-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 0 54px;
  z-index: 1; }
  .head-bot .swiper-utility a {
    display: block;
    padding: 5px 10px;
    text-align: center;
    border-right: 1px solid #606060; }
    .head-bot .swiper-utility a img {
      margin: 0 auto 18px;
      height: 50px; }
    .head-bot .swiper-utility a .name-utility {
      font-weight: 500;
      color: #fff;
      font-size: 16px; }
  .head-bot .swiper-utility .swiper-button-prev, .head-bot .swiper-utility .swiper-container-rtl .swiper-button-next {
    left: 0;
    outline: none;
    background-image: url("../img/icon-angle-left.svg"); }
  .head-bot .swiper-utility .swiper-button-prev:hover, .head-bot .swiper-utility .swiper-container-rtl .swiper-button-next:hover {
    left: 0;
    outline: none;
    background-image: url("../img/icon-angle-leftx.svg"); }
  .head-bot .swiper-utility .swiper-button-next, .head-bot .swiper-utility .swiper-container-rtl .swiper-button-prev {
    right: 0;
    outline: none;
    background-image: url("../img/icon-angle-rightx.svg"); }
  .head-bot .swiper-utility .swiper-button-next:hover, .head-bot .swiper-utility .swiper-container-rtl .swiper-button-prev:hover {
    right: 0;
    outline: none;
    background-image: url("../img/icon-angle-right.svg"); }

.block-menuchild {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; }

.container-menu {
  max-width: 796px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.title-child {
  padding: 14px 12px;
  background: #f2f2f2; }
  .title-child h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
    color: #303030; }
    .title-child h2 span {
      background: url(../img/icon-title-menu.svg) no-repeat top 1px left;
      padding-top: 5px; }

.menuchild {
  padding: 20px 0 16px;
  background: #fff; }
  .menuchild .item-menuchild h3 {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
    color: #303030;
    font-weight: 700; }
  .menuchild .item-menuchild ul li {
    margin-bottom: 10px; }
    .menuchild .item-menuchild ul li a {
      font-size: 14px;
      line-height: 18px;
      color: #999999;
      transition: all 0.2s; }
      .menuchild .item-menuchild ul li a:hover {
        color: #255888;
        transition: all 0.2s;
        letter-spacing: 0.05em; }

.hot-news {
  padding: 20px 0 1px; }
  .hot-news .txt-hotnews {
    background: #D56363;
    border-radius: 3px;
    padding: 8px 12px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px; }
  .hot-news .list-hotnews {
    margin: 0 -10px; }
    .hot-news .list-hotnews li {
      float: left;
      width: 20%;
      padding: 0 10px;
      border-right: 1px solid #E0E0E0;
      margin-bottom: 15px; }
      .hot-news .list-hotnews li:last-child {
        border-right: none; }
      .hot-news .list-hotnews li span {
        font-size: 12px;
        line-height: 15px;
        color: #606060; }
    .hot-news .list-hotnews h3 {
      font-size: 24px;
      line-height: 29px; }
      .hot-news .list-hotnews h3 a {
        display: block;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box; }
        .hot-news .list-hotnews h3 a:hover {
          color: #255888; }

.block-news {
  background: #f3f3f3;
  padding: 40px 0 29px; }

.title-blue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px; }
  .title-blue h3 {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #255888; }
  .title-blue .view-more {
    color: #8C8C8C;
    font-weight: 300; }
    .title-blue .view-more:hover {
      color: #255888; }

.box-imgnews {
  position: relative;
  margin-bottom: 15px; }
  .box-imgnews:before {
    content: '';
    display: block;
    padding-bottom: 56.71%; }
  .box-imgnews .img-news {
    margin-bottom: 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.swiper-news-block {
  position: relative; }
  .swiper-news-block .dot-panigation {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%); }
    .swiper-news-block .dot-panigation .swiper-pagination-bullet {
      outline: none;
      width: 7px;
      height: 7px;
      margin: 0 5px;
      background: #a3a3a3; }
    .swiper-news-block .dot-panigation .swiper-pagination-bullet-active {
      background: #303030;
      width: 10px;
      height: 10px; }

.sub-news {
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box; }

.list-marketnews {
  margin-bottom: 4px; }
  .list-marketnews li {
    padding-bottom: 22px;
    padding-right: 40px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px; }
    .list-marketnews li:last-child {
      border: none; }
    .list-marketnews li.marketnews {
      background: url("../img/icon-ghimnew.svg") no-repeat top right; }
    .list-marketnews li span {
      display: block;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #606060; }
    .list-marketnews li h3 {
      margin: 0;
      font-size: 16px; }
      .list-marketnews li h3 a {
        display: block;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box; }
        .list-marketnews li h3 a:hover {
          color: #255888; }

.btn-speak {
  border: 2px solid #255888;
  border-radius: 5px;
  padding: 4px 21px;
  color: #255888;
  vertical-align: middle;
  display: flex;
  align-items: center; }
  .btn-speak img {
    margin-right: 12px; }

.mb-26 {
  margin-bottom: 26px; }

.list-derivativenews li {
  float: left;
  width: 20%;
  padding: 0 30px;
  border-right: 1px solid #E0E0E0;
  margin-bottom: 15px; }
  .list-derivativenews li.derivativenews {
    background: url("../img/icon-ghimnew.svg") no-repeat top right; }
  .list-derivativenews li:last-child {
    border-right: none; }
  .list-derivativenews li span {
    font-size: 12px;
    line-height: 15px;
    color: #606060; }
.list-derivativenews h3 {
  font-size: 16px;
  margin-bottom: 0; }
  .list-derivativenews h3 a {
    display: block;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box; }
    .list-derivativenews h3 a:hover {
      color: #255888; }

.box-service {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .box-service .name-service {
    padding: 58px 15px 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #255888;
    text-align: center; }
  .box-service:hover .box-imgservice > img {
    transform: scale(1.1);
    transition: 0.3s; }

.service {
  padding: 55px 0 40px; }
  .service .swiper-pagination {
    display: none; }

.title-service {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #101010;
  margin-bottom: 40px;
  text-align: center; }

.box-imgservice {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0; }
  .box-imgservice:before {
    content: '';
    display: block;
    padding-bottom: 66.6667%; }
  .box-imgservice > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s; }

.img-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0; }

.swiper-service-block {
  position: relative; }

.img-dark {
  display: inline-block; }

.img-light {
  display: none; }

.navleft-service, .navleft-servicex, .navleft-servicexx {
  cursor: pointer;
  position: absolute;
  left: -64px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  outline: none; }
  .navleft-service:hover .img-dark, .navleft-servicex:hover .img-dark, .navleft-servicexx:hover .img-dark {
    display: none; }
  .navleft-service:hover .img-light, .navleft-servicex:hover .img-light, .navleft-servicexx:hover .img-light {
    display: inline-block; }

.navright-service, .navright-servicex, .navright-servicexx {
  outline: none;
  cursor: pointer;
  position: absolute;
  right: -64px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; }
  .navright-service:hover .img-dark, .navright-servicex:hover .img-dark, .navright-servicexx:hover .img-dark {
    display: none; }
  .navright-service:hover .img-light, .navright-servicex:hover .img-light, .navright-servicexx:hover .img-light {
    display: inline-block; }

.swiper-service {
  margin-bottom: 40px; }
  .swiper-service .swiper-slide {
    padding: 0 5px; }
  .swiper-service .swiper-button-prev, .swiper-service .swiper-container-rtl .swiper-button-next {
    left: 0;
    outline: none;
    background-image: url("../img/icon-angle-left.svg"); }
  .swiper-service .swiper-button-prev:hover, .swiper-service .swiper-container-rtl .swiper-button-next:hover {
    left: 0;
    outline: none;
    background-image: url("../img/icon-angle-leftx.svg"); }
  .swiper-service .swiper-button-next, .swiper-service .swiper-container-rtl .swiper-button-prev {
    right: 0;
    outline: none;
    background-image: url("../img/icon-angle-rightx.svg"); }
  .swiper-service .swiper-button-next:hover, .swiper-service .swiper-container-rtl .swiper-button-prev:hover {
    right: 0;
    outline: none;
    background-image: url("../img/icon-angle-right.svg"); }

.tabs-exercise.nav-tabs {
  border-bottom: none; }
.tabs-exercise .nav-link {
  border: none;
  color: #8C8C8C;
  background: #fff url("../img/bg-notactive.png") no-repeat bottom 13px center;
  padding: 0 0 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; }
  .tabs-exercise .nav-link:hover {
    color: #255888; }
  .tabs-exercise .nav-link span {
    padding: 0 7px; }
.tabs-exercise .nav-link.active {
  color: #255888;
  border-color: unset;
  background: #fff url("../img/bg-active.png") no-repeat bottom center;
  padding: 0 0 19px; }

.partner {
  padding: 42px 0 48px; }

.box-partner {
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-partner a {
    display: block;
    width: 14%;
    margin-right: 60px;
    text-align: center; }

.statistical {
  background: url("../img/bg-tk.png") no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 20px 0 0;
  background-attachment: fixed; }

.bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #303030;
  opacity: 0.9; }

.title-statistical {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 42px;
  text-transform: uppercase; }

.item-statistical {
  margin-bottom: 43px; }

.block-statistical {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  position: relative;
  padding: 18px 15px 5px; }
  .block-statistical .box-statistical {
    position: absolute;
    left: 15px;
    top: -20px;
    background: #303030;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 10px;
    width: 150px;
    min-height: 84px; }

.plus-btn {
  text-align: right;
  margin-bottom: 61px; }
  .plus-btn button {
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
    transition: all 0.3s; }
    .plus-btn button:hover {
      background: rgba(255, 255, 255, 0.22);
      transition: all 0.3s; }

.number-statistical {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #FFFFFF; }

.txt-time {
  margin-top: 22px;
  margin-bottom: 24px;
  font-weight: 500; }

.swiper-service-tab a, .swiper-service-tab2 a {
  display: block;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  padding: 9px;
  text-align: center;
  transition: all 0.2s; }
  .swiper-service-tab a .stuff, .swiper-service-tab2 a .stuff {
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
    margin-bottom: 3px; }
  .swiper-service-tab a .day-of-month, .swiper-service-tab2 a .day-of-month {
    font-size: 40.5px;
    line-height: 48px;
    color: #AFAFAF; }
  .swiper-service-tab a:hover, .swiper-service-tab2 a:hover {
    background: #004282;
    transition: all 0.2s;
    border: 2px solid #004282; }
    .swiper-service-tab a:hover .stuff, .swiper-service-tab2 a:hover .stuff {
      color: #fff; }
    .swiper-service-tab a:hover .day-of-month, .swiper-service-tab2 a:hover .day-of-month {
      color: #fff; }

.swiper-play {
  position: absolute;
  bottom: 212px;
  left: 53%;
  z-index: 10;
  transform: translateX(-50%);
  cursor: pointer; }
  .swiper-play .icon-pause {
    display: block; }
  .swiper-play .icon-play {
    display: none; }
  .swiper-play.active .icon-pause {
    display: none; }
  .swiper-play.active .icon-play {
    display: block; }

.sub-banner {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; }
  .sub-banner h2 {
    font-weight: 500;
    font-size: 54px;
    line-height: 66px;
    margin-bottom: 17px; }
  .sub-banner div {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px; }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #255888;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

.footer {
  background: url("../img/bg-footer.png") no-repeat center center;
  background-size: cover;
  padding: 40px 0 0px;
  position: relative; }
  .footer .bg-foot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #255888; }

.item-foot {
  padding: 30px 0; }

.hasborder {
  height: 1px;
  width: 100%;
  background: #5B5B5B; }

.title-foot {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 20px; }

.list-foot li {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 17px;
  color: #F4F4F4; }
  .list-foot li:after {
    content: '';
    display: table;
    clear: both; }
  .list-foot li a {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #F4F4F4; }
    .list-foot li a:hover {
      text-decoration: underline; }

.txt-foot {
  margin-left: 35px; }
  .txt-foot.txt-foot-detail {
    margin-top: 49px;
    display: block; }

.copy-right {
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
  position: relative;
  padding: 11px 0 15px; }

.contact-foot img {
  width: 20px;
  margin-right: 19px;
  float: left; }
.contact-foot span {
  float: left;
  width: calc(100% - 39px); }

.logo-foot {
  margin-bottom: 18px;
  position: relative; }

input.checkbox-md[type="checkbox"][disabled="disabled"] {
  background: transparent; }

input.checkbox-md[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

input.checkbox-md[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input.checkbox-md[type="checkbox"]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: transparent; }

input.checkbox-md[type="checkbox"]:checked:after {
  background-color: #2E5887;
  border-color: #2E5887; }

input.checkbox-md[type="checkbox"] ~ label {
  cursor: pointer; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  margin-left: 0; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2E5887;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.nestedCheckboxes {
  /*  margin-bottom: 17px;*/ }
  .nestedCheckboxes label {
    vertical-align: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; }
  .nestedCheckboxes > li {
    padding: 19px 25px 0; }
  .nestedCheckboxes > label {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
    color: #255888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: 0; }
  .nestedCheckboxes input {
    vertical-align: middle; }
  .nestedCheckboxes > ul > li {
    padding: 19px 25px;
    background: url("/version_2/img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 31px left 10px no-repeat; }
    .nestedCheckboxes > ul > li:last-child {
      background: url("/version_2/img/bg-gr-03.png") no-repeat top left 10px; }
    .nestedCheckboxes > ul > li:before {
      content: '';
      width: 1px; }
    .nestedCheckboxes > ul > li > label {
      color: #3d3d3d;
      font-weight: 700;
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin-bottom: 0;
      text-decoration: none; }
    .nestedCheckboxes > ul > li > ul > li {
      padding: 19px 25px 0;
      background: url("/version_2/img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 31px left 10px no-repeat; }
      .nestedCheckboxes > ul > li > ul > li:last-child {
        background: url("/version_2/img/bg-gr-03.png") no-repeat top left 10px; }
      .nestedCheckboxes > ul > li > ul > li > label {
        margin-left: 8px;
        color: #3d3d3d;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 700; }
      .nestedCheckboxes > ul > li > ul > li > ul > li {
        padding: 13px 25px 0;
        background: url("/version_2/img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 31px left 10px no-repeat; }
        .nestedCheckboxes > ul > li > ul > li > ul > li:last-child {
          background: url("/version_2/img/bg-gr-03.png") no-repeat top left 10px; }
        .nestedCheckboxes > ul > li > ul > li > ul > li > label {
          margin-left: 5px;
          display: inline-block;
          margin-bottom: 0; }
        .nestedCheckboxes > ul > li > ul > li > ul > li > ul > li {
          padding: 13px 25px 0;
          background: url("/version_2/img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 31px left 10px no-repeat; }
          .nestedCheckboxes > ul > li > ul > li > ul > li > ul > li:last-child {
            background: url("/version_2/img/bg-gr-03.png") no-repeat top left 10px; }
          .nestedCheckboxes > ul > li > ul > li > ul > li > ul > li > label {
            margin-left: 5px; }

.nestedCheckboxes input[type="checkbox"][disabled="disabled"] {
  background: transparent; }

.nestedCheckboxes input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

.nestedCheckboxes input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nestedCheckboxes input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #90BEE3;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: #fff; }

.nestedCheckboxes input[type="checkbox"]:checked:after {
  background-color: #2E5887;
  border-color: #2E5887; }

.nestedCheckboxes input[type="checkbox"] ~ label {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
