// ======================================================
// Layout :: Content
// ======================================================
.hot-news{
  padding: 20px 0 1px;
  .txt-hotnews{
    background: #D56363;
    border-radius: 3px;
    padding: 8px 12px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
  }
  .list-hotnews{
    margin: 0 -10px;
    li{
      float: left;
      width: 20%;
      padding: 0 10px;
      border-right: 1px solid #E0E0E0;
      margin-bottom: 15px;
      &:last-child{
        //padding-right: 0;
        border-right: none;
      }
      span{
        font-size: 12px;
        line-height: 15px;
        color: #606060;
      }
    }
    h3{
      font-size: 24px;
      line-height: 29px;
      a{
        display: block;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        &:hover{
          color: $c-bl;
        }
      }
    }
  }

}

.block-news{
  background: #f3f3f3;
  padding: 40px 0 29px;
}
.title-blue{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
  h3{
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $c-bl;
  }
  .view-more{
    color: #8C8C8C;
    font-weight: 300;

    &:hover{
      color: $c-bl;
    }
  }

}
.box-imgnews{
  position: relative;
  margin-bottom: 15px;
  &:before{
    @include resize-before(56.71%);
  }
  .img-news{
    margin-bottom: 15px;
    @include resize-img;
    width: 100%;
    object-fit: cover;
  }
}

.swiper-news-block{
  position: relative;
  .dot-panigation{
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet{
      outline: none;
      width: 7px;
      height: 7px;
      margin: 0 5px;
      background: #a3a3a3;
    }
    .swiper-pagination-bullet-active{
      background: #303030;
      width: 10px;
      height: 10px;
    }
  }
}
.sub-news{
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
}
.list-marketnews{
  margin-bottom: 4px;
  li{
    padding-bottom: 22px;
    padding-right: 40px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
    &:last-child{
      border: none;
    }
    &.marketnews{
      background: url("../img/icon-ghimnew.svg") no-repeat top right;
    }
    span{
      display: block;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #606060;
    }
    h3{
      margin: 0;
      font-size: 16px;

      a{
        display: block;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        &:hover{
          color: $c-bl;
        }
      }
    }

  }
}

.btn-speak {
  border: 2px solid #255888;
  border-radius: 5px;
  padding: 4px 21px;
  color: #255888;
  vertical-align: middle;
  display: flex;
  align-items: center;
  img{
    margin-right: 12px;
  }
}
.mb-26{
  margin-bottom: 26px;
}
.list-derivativenews{
  li{
    float: left;
    width: 20%;
    padding: 0 30px;
    border-right: 1px solid #E0E0E0;
    margin-bottom: 15px;
    &.derivativenews{
      background: url("../img/icon-ghimnew.svg") no-repeat top right;

    }
    &:last-child{
      //padding-right: 0;
      border-right: none;
    }
    span{
      font-size: 12px;
      line-height: 15px;
      color: #606060;
    }
  }
  h3{
    font-size: 16px;
    margin-bottom: 0;
    a{
      display: block;
      overflow: hidden;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      &:hover{
        color: $c-bl;
      }
    }
  }
}

//style services

.box-service{
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  .name-service{
    padding: 58px 15px 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $c-bl;
    text-align: center;
  }

}
.service{
  padding: 55px 0 40px;
  .swiper-pagination{
    display: none;
  }
}
.title-service{
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #101010;
  margin-bottom: 40px;
  text-align: center;
}
.box-imgservice{
  position: relative;
  &:before{
    @include resize-before(66.6667%);
  }
  >img{
    @include resize-img;
    object-fit: cover;
    width: 100%;
  }

  .img-icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    bottom: 0;
    img{

    }
  }
}
.swiper-service-block{
  position: relative;


}
.navleft-service,.navleft-servicex{
  cursor: pointer;
  position: absolute;
  left: -64px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  outline: none;

}
.navright-service,.navright-servicex{
  outline: none;
  cursor: pointer;
  position: absolute;
  right: -64px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

}
.swiper-service{
  margin-bottom: 40px;
  .swiper-slide{
    padding: 0 5px;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 0;
    outline: none;
    background-image: url("../img/icon-angle-left.svg");
  }
  .swiper-button-prev:hover, .swiper-container-rtl .swiper-button-next:hover{
    left: 0;
    outline: none;
    background-image: url("../img/icon-angle-leftx.svg");
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 0;
    outline: none;
    background-image: url("../img/icon-angle-rightx.svg");
  }
  .swiper-button-next:hover, .swiper-container-rtl .swiper-button-prev:hover{
    right: 0;
    outline: none;
    background-image: url("../img/icon-angle-right.svg");
  }
}
.tabs-exercise{
  &.nav-tabs{
    border-bottom: none;
  }
  .nav-link{
    border: none;
    color: #8C8C8C;
    background: #fff url("../img/bg-notactive.png") no-repeat bottom 13px center;
    padding: 0 0 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    &:hover{
      color: $c-bl;
    }
    span{
      padding: 0 25px;
    }
  }
  .nav-link.active{
    color: $c-bl;
    border-color: unset;
    background: #fff url("../img/bg-active.png") no-repeat bottom center;

    padding: 0 0 26px;
  }
}



.partner{

  padding: 42px 0 48px;
}
.box-partner{
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    display: block;
    width: 14%;
    margin-right: 60px;
    text-align: center;
  }
}

//end partner

.statistical{
  background: url("../img/bg-tk.png") no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 20px 0 0;

}
.bg-black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #303030;
  opacity: 0.9;
}
.title-statistical{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 42px;
  text-transform: uppercase;
}
.item-statistical{
  margin-bottom: 43px;

}
.block-statistical{
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  position: relative;
  padding: 18px 15px 5px;
  .box-statistical{
    position: absolute;
    left: 15px;
    top: -20px;
    background: #303030;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 10px;
    width: 150px;
    min-height: 84px;
  }
}
.plus-btn{
  text-align: right;
  margin-bottom: 61px;
  button{
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
    transition: all 0.3s;

    &:hover{
      background: rgba(255, 255, 255,  0.22);
      transition: all 0.3s;
    }
  }
}
.number-statistical{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #FFFFFF;
}


//style swiper-service-tab
.txt-time{
  margin-top: 22px;
  margin-bottom: 24px;
}
.swiper-service-tab{
  a{
    display: block;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    padding: 9px;
    text-align: center;
    .stuff{
      font-size: 18px;
      line-height: 21px;
      color: #8C8C8C;
      margin-bottom: 3px;
    }
    .day-of-month{
      font-size: 40.5px;
      line-height: 48px;
      color: #AFAFAF;
    }
  }
}